[flake8]
max-line-length = 160
max-complexity = 10
exclude =
    data
    experiments
    .git
    venv
# We import modules here to make them available to Allennlp
per-file-ignores =
  **/__init__.py:F401